*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

a{
    position: relative;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 23px;
}

a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid black;
    transition: all .5s;
}

a:hover::before{
    width: 100%;
}

button{
    border: none;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 23px;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../assets/bubbles1.jpg');
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: rgba(4, 255, 213, 0.89);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

nav{
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 1px 5px 20px 1px black;
    position: sticky;
    top: 0;
    color: black;
    z-index: 1;
}

nav img{
    width: 50px;
    height: 50px;
}

.msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.msgbox:hover{
    transform: scale(1.05, 1.05);
}

.msgbox{
    color: white;
    width: 70%;
    min-width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    border-radius: 20px;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.548);
    transform: translateX(-150px);
}

.tr{
    transform: translateX(0);
}

.title{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: white;
}

.title1{
    position: relative;
    letter-spacing: 3px;
    font-weight: bolder;    
    transition: all .5s;
    padding-left: 20px;
    cursor: pointer;
    color: white;
}

.userTitle{
    color: white;
}

.title1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid rgb(0, 255, 255);
    transition: .5s;
}

.title1:hover::before{
    width: 100%;    
}

.title1:hover{
    transform: scale(1.04, 1.04);
    color: rgb(0, 255, 255);
}

.titlecont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.post{
    margin-bottom: 20px;
    width: 60%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.452);
    padding: 10px;
    backdrop-filter: blur(5px);
}

.date{
    font-size: 15px;
}

.user{
    text-align: right;
    width: 100%;
    font-size: 20px;
    color: rgb(42, 33, 80);
}

.user img{
    width: 50px;
    height: 50px;
    border-radius: 10px;
}

.post p, .post h3, .post h4, .post .update, .post button{
    margin-top: 15px;
    text-align: center;
}

h4, h3{
    font-size: 25px;
}

p{
    font-size: 22px;
    word-break: break-all;
    text-align: justify;
}

button{
    font-size: 15px;
    background-color: rgb(19, 1, 88);
    padding: 5px;
}

.postTitle{
    word-break: break-all;
}

.update{
    width: 70%;
    min-width: 330px;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.updateBox{
    position: absolute;
    width: 50%;
    min-width: 350px;
    height: 500px;
    backdrop-filter: blur(5px);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(52, 255, 228, 0.753);
}

.updateBox img{
    width: 25px;
    height: 25px;
    align-self: flex-end;
    justify-self: flex-start;
    margin-right: 10px;
    position: absolute;
    top: 10px;
}

.inputField{
    position: relative;
    width: 300px;
    height: 45px;
}

.one{
    height: 200px;
}

.inputField input, label, textarea{
    font-size: 22px;
    padding: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: none;
    outline: none;
}

label{
    top: 0;
    pointer-events: none;
    transition: .5s;
}

input:focus~label{
    top: -35px;
}

textarea:focus~label{
    top: -35px;
}

.updateFlex{
    display: flex;
}

.loader{
    display: none;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
    top: 100px;
    height: 65vh;
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(10px);
    font-weight: bolder;
    z-index: 10;
    min-width: 350px;
    border-radius: 20px;
    flex: 2;
}

.loaderCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes loader{
    0%{
        transform:scale(1, 1)
    }
    50%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1,1);
    }
}

.loader1, .loader2{
    width: 5px;
    height: 30px;
    background-color: black;
    animation-name: loader;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-left: 8px;
}

.loader2{
    animation-delay: 0.2s;
}

@media screen and (max-width:700px){
    .title1{
        font-size: 22px;
    }
    .userTitle{
        width: 100%;
        text-align: center;
    }
}