*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

a{
    position: relative;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 23px;
}

a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid black;
    transition: all .5s;
}

a:hover::before{
    width: 100%;
}

button{
    border: none;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 23px;
}

body{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url('../assets/bubbles2.png');
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: rgba(122, 65, 0, 0.89);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

nav{
    padding: 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 1px 5px 20px 1px black;
    position: sticky;
    top: 0;
    color: black;
    z-index: 1;
}

nav img{
    width: 50px;
    height: 50px;
}

.msg{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.msgbox:hover{
    transform: scale(1.05, 1.05);
}

.msgbox{
    color: white;
    width: 70%;
    min-width: 350px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 20px;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(2px);
    transform: translateX(-150px);
}

.tr{
    transform: translateX(0);
}

.title{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: black;
    font-weight: bolder;
    font-size: 23px;
    word-break: break-all;
}

.title1{
    position: relative;
    letter-spacing: 3px;
    font-weight: bolder;    
    transition: all .5s;
    padding-left: 20px;
    cursor: pointer;
}

.title1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid rgb(0, 255, 255);
    transition: .5s;
}

.title1:hover::before{
    width: 100%;    
}

.title1:hover{
    transform: scale(1.04, 1.04);
    color: rgb(0, 255, 255);
}

.titlecont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.content{
    width: 80%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.616);
    color: black;
    min-width: 300px;
    font-weight: bolder;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 22px;
    font-weight: 300;
    word-break: break-all;
}

.da{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.dat img{
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: 10px;
    border-radius: 20px;
}

.post{
    position: absolute;
    top: 105px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    min-width: 350px;
    height: 600px;
    z-index: 10;
}

.post input, .post textarea{
    font-size: 20px;
    font-weight: bolder;
}

.postCont{
    font-weight: bolder;
    width: 50%;
    min-width: 350px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputField{
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 55px;
}

.inputField input, label{
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}

input:focus{
    outline: none;
}

label{
    transition: .6s;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 25px;
}

input:focus ~label{
    top: -35px;
    font-size: 18px;
}

.textField{
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;

}

textarea{
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    padding: 15px;
}

textarea:focus{
    outline: none;
}

textarea:focus~label{
    top: -35px;
    font-size: 18px;
}

.active{
    display: flex;
}

.submit{
    color: white;
    padding: 10px;
    background-color: rgb(143, 40, 0);
}

.upgrade{
    position: absolute;
    background-color: rgba(245, 131, 0, 0.466);
    width: 50%;
    min-width: 350px;
    height: 250px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px;
    backdrop-filter: blur(5px);
    border-radius: 15px;
}

.upgradeFlex{
    display: flex;
}

.aSubmit, .mSubmit{
    background-color: rgb(255, 136, 0);
}

.upgrade label{
    font-size: 20px;
    width: 100%;
}

.upgrade input:focus~label{
    font-size: 16px;
    color: white;
}

.errorMesm, .errorMesa{
    display: block;
    color: red;
    font-size: 25px;
    font-weight: bolder;
}

.rem{
    display: none;
}

.loader{
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    top: 300px;
    width: 200px;
    height: 100px;
    font-size: 35px;
    color: white;
    font-weight: bolder;
}

@keyframes loader{
    0%{
        transform:scale(1, 1)
    }
    50%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1,1);
    }
}

.loader1, .loader2{
    width: 5px;
    height: 30px;
    background-color: black;
    animation-name: loader;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.loader2{
    animation-delay: 0.2s;
}



@media screen and (max-width:700px){
    .title1{
        font-weight: bolder;
        font-size: 23px;
    }
    nav img{
        width: 25px;
        height: 25px;
    }
}