*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier;
}

a{
    position: relative;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 23px;
}

a::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid black;
    transition: all .5s;
}

a:hover::before{
    width: 100%;
}

button{
    border: none;
    background-color: transparent;
    padding: 10px;
    color: white;
    font-weight: bolder;
    font-size: 23px;
}

body{
    width: 100%;
    background-image: url('../assets/bubbles1.png');
    background-size: cover;
    background-attachment: fixed;
}

body::-webkit-scrollbar{
    width: 10px;
}

body::-webkit-scrollbar-track{
    width: 10px;
}

body::-webkit-scrollbar-thumb{
    width: 15px;
    background-color: rgba(8, 4, 255, 0.89);
    border-radius: 10px;
    backdrop-filter: blur(10px);
}

nav{
    padding: 15px 5%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(10px);
    box-shadow: 1px 5px 20px 1px black;
    position: sticky;
    top: 0;
    color: black;
    z-index: 1;
}

nav img{
    width: 50px;
    height: 50px;
}

.msg{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.msgbox:hover{
    transform: scale(1.05, 1.05);
}

.msgbox{
    color: white;
    width: 70%;
    min-width: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 50px;
    border-radius: 20px;
    transition: all .5s;
    background-color: rgba(255, 255, 255, 0.548);
    backdrop-filter: blur(2px);
    transform: translateX(-150px);
}

.tr{
    transform: translateX(0);
}

.title{
    width: 100%;
    text-align: center;
    margin-top: 15px;
    color: black;
}

.title1{
    position: relative;
    letter-spacing: 3px;
    font-weight: bolder;    
    transition: all .5s;
    padding-left: 20px;
    cursor: pointer;
}

.title1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    right: 0;
    width: 0;
    height: 100%;
    border-bottom: 3px solid rgb(0, 255, 255);
    transition: .5s;
}

.title1:hover::before{
    width: 100%;    
}

.title1:hover{
    transform: scale(1.04, 1.04);
    color: rgb(0, 255, 255);
}

.titlecont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    width: 70%;
    text-align: justify;
    padding: 20px;
    background-color: rgba(177, 210, 255, 0.616);
    color: black;
    border-radius: 20px;
    margin-top: 20px;
}

.da{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
}

.post{
    position: fixed;
    top: 100px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 600px;
    z-index: 10;
}

.postCont{
    width: 50%;
    min-width: 350px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.inputField{
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 55px;
}

.inputField input, label{
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
    padding: 10px;
}

input:focus{
    outline: none;
}

label{
    transition: .6s;
    top: 0;
    left: 0;
    pointer-events: none;
    font-size: 30px;
    letter-spacing: 3px;
}

input:focus ~label{
    top: -35px;
    font-size: 22px;
}

.textField{
    position: relative;
    width: 50%;
    min-width: 300px;
    height: 200px;

}

textarea{
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
}

textarea:focus{
    outline: none;
}

textarea:focus~label{
    top: -35px;
    font-size: 22px;
}

.active{
    display: flex;
}

.submit{
    color: white;
    padding: 10px;
    background-color: blue;
}

@media screen and (max-width:700px){
    .title1{
        font-size: 21px;
    }
    nav img{
        width: 30px;
        height: 30px;
    }
}