*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/bubble.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    position: relative;
    text-decoration: none;
}

a::before{
    content: '';
    position: absolute;
    width: 0;
    height: 100%;
    border-bottom: 2px solid black;
    transition: .5s;
}

a:hover::before{
    width: 100%;
}

.loginform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 70vh;
    border-radius: 50px;
    height: 65vh;
    background-color: rgba(255, 255, 255, 0.541);
    backdrop-filter: blur(3px);
    min-width: 350px;
    outline: 1px solid white;
}

.inputfield{    
    position: relative;
    width: 50%;
    height: 55px;
    min-width: 300px;
}

input{
    position: absolute;
    padding: 15px 15px;
    border-radius: 15px;
    width: 100%;
    outline: none;
    height:55px;
    border: none;
    font-size: 20px;
    font-weight: 350;
}

label{
    position: absolute;
    top: 15px;
    left: 10px;
    width: 100%;
    pointer-events: none;
    transition: .5s;
}

input:focus ~ label{
    top: -23px;
    font-size: 17px;
    left: 10px;
}

button{
    font-size: 22px;
    padding: 15px;
    border: none;
    background-color: rgba(90, 175, 255, 0.753);
    border-radius: 12px;
}

.error{
    display: none;
    color: red;
    font-size: 23px;
    padding: 5px;
    border-bottom: 1px solid red;
}

.loader{
    display: none;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
    height: 65vh;
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(10px);
    font-weight: bolder;
    z-index: 10;
    min-width: 350px;
    border-radius: 20px;
    flex: 2;
}

.loaderCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes loader{
    0%{
        transform:scale(1, 1)
    }
    50%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1,1);
    }
}

.loader1, .loader2{
    width: 5px;
    height: 30px;
    background-color: black;
    animation-name: loader;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-left: 8px;
}

.loader2{
    animation-delay: 0.2s;
}