*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Sora', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, #74ebd5, #acb6e5);
    background-size: cover;
}

.registerform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 65%;
    min-width: 350px;
    height: 90vh;
    min-height: 550px;
    background-color: rgba(255, 255, 255, 0.445);
    backdrop-filter: blur(3px);
    border-radius: 20px;
}

.inputfield{
    width: 50%;
    min-width: 300px;
    height: 50px;
    position: relative;
}

.inputfield input, .inputfield label{
    position: absolute;
    padding: 15px;
    width: 100%;
    height: 100%;
    border: none;
}

.inputfield label{
    pointer-events: none;
    padding: 0;
    top: 15px;
    left: 15px;
    transition: .5s;
}

input{
    outline: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 350;
}

.inputfield input:focus ~ label{
    top: -20px;
    font-size: 15px;
}

img{
    width: 50px;
    height: 50px;
}

.inputRow{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
}

button{
    font-size: 20px;
    padding: 10px 45px;
    border: none;
    background-color: rgba(90, 175, 255, 0.753);
    border-radius: 12px;
}

#inputlogo input{
    width: 20px;
    height: 20px;
    transition: .5s;
}

#inputlogo input:checked{
    width: 30px;
    height: 30px;
    padding: none;
}

.errors{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    top: 25%;
    width: 300px;
    height: 300px;
    padding: 15px;
    pointer-events: none;
    background-color: rgb(255, 255, 255);
    z-index: 5;
    color: red;
}

.loader{
    display: none;
    flex-direction: row;
    position: absolute;
    align-items: center;
    justify-content: space-evenly;
    width: 55vw;
    height: 65vh;
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.596);
    backdrop-filter: blur(10px);
    font-weight: bolder;
    z-index: 10;
    min-width: 350px;
    border-radius: 20px;
    flex: 2;
}

.loaderCont{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

@keyframes loader{
    0%{
        transform:scale(1, 1)
    }
    50%{
        transform: scale(0.5, 0.5);
    }
    100%{
        transform: scale(1,1);
    }
}

.loader1, .loader2{
    width: 5px;
    height: 30px;
    background-color: black;
    animation-name: loader;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    margin-left: 8px;
}

.loader2{
    animation-delay: 0.2s;
}